.my_status span {
    cursor: pointer;
}
.my_status p {
    display: inline-block;
    margin-right: 5px;
}
.my_status input {
    display: inline-block;
}
.other_user p {
    display: inline-block;
    margin-right: 5px;
}
.other_user span {
    color: grey;
}