.my_status span {
    cursor: pointer;
    color: chartreuse;
}
.my_status p {
    display: inline-block;
    margin-right: 5px;
}
.my_status input {
    display: inline-block;
}
.other_user span:last-child {
    color: cadetblue;
}