.container {
    position: relative;
    background-color: darkslategrey;
    padding: 15px;
}
.dialogs_container {
    position: relative;
    display: inline-block;
    width: 25%;
    float: left;
}
.text_container {
    position: relative;
    display: inline-block;
    width: 75%;
}
.form > input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 5em;
    margin: 15px 0 15px 0;
}