.container {
    background-color: lightsteelblue;
    padding: 10px;
}
.dialogs_container {
    display: block;
    float: left;
    width: 25%;
}
.content_container {
    display: block;
    float: right;
    width: 75%;
}
.container textarea {
    display: block;
    width: 75%;
    height: 5em;
}
.container button {
    display: block;
    margin-top: 15px;
}