.container {
    grid-area: h;
    background-color: darkgreen;
    height: 100px;
}
.title {
    line-height: 100px;
    font-size: 2.5em;
    color: white;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}
.authorized {
    display: block;
    float: right;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin-right: 30px;
    font-size: 20px;
}
.unauthorized {
    display: block;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    margin-right: 30px;
    font-size: 20px;
}
.unauthorized p {
    margin: 0;
    color: white;
}
.unauthorized button {
    float: right;
    height: 30px;
    cursor: pointer;
}