.container {
    grid-area: n;
    background-color: darkcyan;
    padding: 10px;
    font-size: 1.15em;
}
.link {
    display: block;
    text-decoration: none;
    color: white;
}
.active {
    color: skyblue;
}
