body {
    margin: 0;
    padding: 0;
}

.app_wrapper {
    display: grid;
    grid-template-areas: "h h" "n c" "f f";
    grid-template-columns: 1fr 5fr;
    grid-gap: 20px;
}

.app_content {
    position: relative;
    grid-area: c;
    background-color: darkcyan;
    min-height: 482px;
    padding: 15px;
}